
 .Mypage {
    padding: 20px;
}

 .sections {
     display: flex;
     gap: 20px;
 }

 /*.MyPorfile, MyNotice, MyFar {*/
 /*    border: 1px solid #ddd;*/
 /*    padding: 20px;*/
 /*    width: 100%;*/
 /*}*/

