<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gromit.auction_back.auction.AuctionDAO">

    <resultMap id="auctionResultMap" type="com.gromit.auction_back.auction.AuctionDTO">
        <id property="postId" column="postId" />
        <result property="title" column="title" />
        <result property="categoryCode" column="categoryCode"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="createdAt" />
        <result property="postStatus" column="postStatus"/>
        <result property="startDay" column="startDay"/>
        <result property="endDay" column="endDay"/>
        <result property="userCode" column="userCode"/>
        <result property="currentCash" column="currentCash"/>
        <result property="imageUrl" column="imageUrl"/>
    </resultMap>

    <select id="selectAllAuction" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId;
    </select>


    <select id="antiqueList" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.categoryCode = 'a';

    </select>

    <select id="limitedList" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.categoryCode = 'l';
    </select>

    <select id="discontinuationList" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.categoryCode = 'd';
    </select>

    <select id="artProductList" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.categoryCode = 'ap';
    </select>

    <select id="valuablesList" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.categoryCode = 'v';
    </select>


<!-- 상세 조회 -->
    <update id="updateHits" parameterType="int">
        UPDATE board
            SET hits = hits +1
        WHERE postId=#{postId}
    </update>

    <select id="selectAuctionDetail" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.postId = #{postId};
    </select>

    <!-- 검색 조회 -->
    <select id="selectSearchItems" resultMap="auctionResultMap">
        SELECT
            b.postId,
            b.title,
            b.categoryCode,
            b.content,
            b.createdAt,
            b.startDay,
            b.currentCash,
            i.imageUrl
        FROM board b
        LEFT JOIN imageUrl i ON b.postId = i.postId
        WHERE b.title LIKE CONCAT('%', #{q}, '%')
        AND b.categoryCode = #{categoryCode};
    </select>

</mapper>