<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gromit.auction_back.mypage.favorite.FavoDAO">

    <!-- 즐겨찾기 -->

    <resultMap id="favoResultMap" type="com.gromit.auction_back.mypage.favorite.FavoDTO">
        <result column="userCode" property="userCode" />
        <result column="postId" property="postId" />
        <result column="title" property="title" />
        <result column="imageUrl" property="imageUrl" />
    </resultMap>

    <!-- 즐겨찾기 목록 조회 -->
    <select id="getAllFavoList" resultType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        SELECT
            f.user_code AS userCode,
            f.post_id AS postId,
            b.Title AS title,
            i.imageUrl AS imageUrl
        FROM
            favorites f
        JOIN
            board b ON f.post_id = b.PostId
        LEFT JOIN
            ImageUrl i ON f.post_id = i.postId
        WHERE
            f.user_code = #{userCode}
    </select>

    <!-- 즐겨찾기 목록 삭제 -->
    <delete id="favodelete" parameterType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        DELETE
        FROM favorites
        WHERE user_code = #{userCode}
    </delete>


    <!--즐겨찾기 추가-->
    <insert id="addFav" parameterType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        INSERT
            INTO favorites
            ( user_code, post_id, status )
        VALUES
            ( #{userCode}, #{postId}, 1 )
    </insert>

<!--    즐겨찾기 삭제 -->
    <delete id="deleteFav" parameterType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        DELETE
            FROM favorites
        WHERE user_code = #{userCode} AND post_id = #{postId}
    </delete>


    <select id="getMyFav" resultMap="favoResultMap">
        SELECT
            *
        FROM favorites
        WHERE user_code = #{userCode} AND post_id = #{postId}
    </select>

</mapper>