<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gromit.auction_back.mypage.favorite.FavoDAO">
    <resultMap id="favoResultMap" type="com.gromit.auction_back.mypage.favorite.FavoDTO">
        <id property="userCode" column="user_code" />
        <result property="postId" column="post_id" />
        <result property="title" column="title" />
        <result property="imageUrl" column="imageUrl" />
    </resultMap>

    <select id="getAllFavoList" resultMap="favoResultMap">
<!--        SELECT * FROM favorites WHERE user_code = #{userCode}-->
        SELECT
        b.title,
        b.postId,
        i.imageUrl
        FROM
        Board b
        JOIN
        users u ON b.userCode = u.userCode
        LEFT JOIN
        ImageUrl i ON b.postId = i.postId
        WHERE
        u.UserCode = #{userCode}
    </select>


    <!--즐겨찾기 추가-->
    <insert id="addFav" parameterType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        INSERT
            INTO favorites
            ( user_code, post_id, status )
        VALUES
            ( #{userCode}, #{postId}, 1 )
    </insert>

<!--    즐겨찾기 삭제 -->
    <delete id="deleteFav" parameterType="com.gromit.auction_back.mypage.favorite.FavoDTO">
        DELETE
            FROM favorites
        WHERE user_code = #{userCode} AND post_id = #{postId}
    </delete>


    <select id="getMyFav" resultMap="favoResultMap">
        SELECT
            *
        FROM favorites
        WHERE user_code = #{userCode} AND post_id = #{postId}
    </select>

</mapper>