<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 낙찰 받은 경매품 -->

<mapper namespace="com.gromit.auction_back.mypage.participate.ParticipateDAO">
    <resultMap id="participationAuctionResult" type="com.gromit.auction_back.mypage.participate.ParticipateDTO">
        <id property="categoryCode" column="CategoryCode" />
        <result property="userCode" column="UserCode" />
        <result property="title" column="Title" />
        <result property="finalCash" column="FinalCash" />
    </resultMap>


    <select id="getWonAuctions" resultMap="participationAuctionResult">
        SELECT
            b.postId,
            b.title,
            b.content,
            b.userCode
        FROM
            board b
        JOIN
            userpost u ON u.postId = b.PostId
        WHERE
            u.userCode = #{userCode};
    </select>
    
</mapper>