.admin-layout {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start;
    min-height: 100vh; /* 화면 전체 높이 사용 */
}

.admin-aside {
    margin-right: 15px; /* 사이드바와 콘텐츠 사이의 간격 */
    margin-top: 15px;
}

.outlet-fixsize {
    margin-top: 10px;
    width: 1000px;
    height: 800px;
    position: relative;
}

.admin-aside ul {
    list-style-type: none;
    padding: 0;
}

.admin-aside a {
    display: block;
    padding: 20px;
    width: 200px;
    height: 30px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, font-weight 0.3s;
    font-size: 16px;
}

.admin-aside a:hover {
    background-color: #e0e0e0;
}
.active-link {
    background-color: #003d80; /* 더 진한 색상으로 변경 */
    color: #ffffff; /* 텍스트 색상을 유지 */
    font-weight: bold; /* 활성화된 링크를 강조 */
    border-left: 4px solid #ffffff; /* 시각적 강조를 위해 추가 (선택 사항) */
}

.admin-center-link {
    background-color: black !important;
    color: white !important;
    pointer-events: none; /* 클릭 비활성화 */
}