.boardTitle{}

.favBtn{}

.boardStatus{}

.cashText{}

.Cash{}

.dateText{}

.date{}

.infoText{}

.boardContent{}

.boardContentImg{
    width: 300px;
    height: 300px;
}

.finalCashText{}

.finalCash{}

.boardText{}


.imageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sliderImage {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.sliderButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}

.sliderButton:hover {
    background-color: #555;
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail.activeThumbnail {
    border: 2px solid #FFD43B;
}

.thumbnail:hover {
    opacity: 0.8;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    color: white;
    background-color: #007bff;
}

.pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}
