.customer-layout {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start;
    min-height: 100vh; /* 화면 전체 높이 사용 */
}

.customer-aside {
    margin-right: 5px; /* 사이드바와 콘텐츠 사이의 간격 */
    margin-top: 50px;
}
.outlet-fixsize {
    margin-top: 10px;
     width: 1000px;
     height: 800px;
     position: relative;
 }
.customer-aside ul {
    list-style-type: none;
    padding: 0;
}

.customer-aside a {
    display: block;
    padding: 20px; /* Increase padding for larger box */
    width: 200px;
    height: 30px;
    background-color: #f3f3f3;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    font-size: 16px; /* Increase font size if needed */
}

.customer-aside a:hover {
    background-color: #e0e0e0;
}

.customer-aside a:active {
    background-color: #333333; /* Darker color for active link */
    color: #fff;
}

.customer-center-link {
    background-color: black !important;
    color: white !important;
    pointer-events: none; /* 클릭 비활성화 */
}