
/* 화면 크기 변경에 따른 비율 유지 */
@media screen and (max-width: 1920px) {
    .container {
        width: 100vw;
        height: 56.25vw; /* 1920x1080 비율 유지 */
    }
}

@media screen and (max-height: 1080px) {
    .container {
        height: 100vh;
        width: 177.77vh; /* 1920x1080 비율 유지, 1920 / 1080 = 1.7777 */
    }
}

.layout-container{
    width: 100%; /* 화면 너비 꽉 채우기 */
    max-width: 1920px; /* 최대 너비 설정 */
    display: flex;
    flex-direction: column;  /* 수직으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    margin: 0 auto;
}

.layout-container_line{
    width: 100%; /* 수평 라인 화면 크기에 맞춤 */
    max-width: 1820px;
    border: 1px solid #ccc;
}

.navBar-container{
    width: 100%; /* 화면 너비에 맞춤 */
    display: flex;
    flex-direction: column; /* 내부 요소 수직 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}

.aside-container{
    display: flex; /* 가로 배치 */
    justify-content: space-between; /* 양 끝으로 배치 */
    width: 100%; /* 화면 너비 꽉 채우기 */
    max-width: 1920px; /* 최대 너비 */
    margin-top: 20px;
}


/* 푸터 */
.layout-footer-container {
    width: 100vw;
    padding: 20px 20px 0px 20px;
}

