/* 테이블 스타일 */
.auctionitem-table {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
}

/* 테이블 항목 스타일 */
.auction-categoryCode,
.acution-finalCash {
    text-align: center; /* 셀 내용 가로 중앙 정렬 */
    vertical-align: middle; /* 셀 내용 세로 중앙 정렬 */
    padding: 6px;
}

.auction-index {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    width: 14%;
}

/* '신청한 경매품' 제목 */
.auctionitem-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 경매 제목 열 스타일 */
.auction-title {
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 15px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 50%; /* 제목 열 너비 줄이기 */
}

/* 카테고리 코드 열 스타일 */
.auction-categoryCode {
    text-align: center;
    padding: 10px;
    width: 30%; /* 카테고리 코드 열 너비 늘리기 */
}

/* 경매 품목 가격 열 스타일 */
.acution-finalCash {
    text-align: center;
    padding: 10px;
    width: 30%; /* 가격 열 너비 유지 */
}

/* 즐겨찾기 항목에 연한 회색 선 추가 */
.auctionitem-table tr {
    border-bottom: 1px solid #bdbcbc; /* 연한 회색 선 추가 */
}

