/* 전체 래퍼 스타일 */
.auction-wrapper {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
}

/* '낙찰받은 경매' 제목 */
.auction-list-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 테이블 헤더 스타일 */
.auction-table th {
    border-bottom: 2px solid #c5c5c5;
    border-spacing: 0;
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    padding-bottom: 10px;
}

.auction-table-list {
    text-align: center;
    padding: 10px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 100px;
}
.auction-table-list td {
    border-bottom: 1px solid #f0f0f0; /* 항목 사이에 연한 선 추가 */
    text-align: center;
    padding: 10px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 1000px;
}

/* 데이터가 없을 때 표시되는 메시지 */
.no-auctions {
    text-align: center;
    font-size: 16px;
    color: #888;
    margin: 20px 0;
}

