/* 테이블 스타일 */
.auctionitem-container {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
}

/*!* 테이블 항목 스타일 *!*/
/*.auction-categoryCode,*/
/*.acution-finalCash {*/
/*    text-align: center; !* 셀 내용 가로 중앙 정렬 *!*/
/*    vertical-align: middle; !* 셀 내용 세로 중앙 정렬 *!*/
/*    padding: 6px;*/
/*}*/

/* '신청한 경매품' 제목 */
.auctionitem-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-auctionitem {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}

.auctionitem-list {
    text-align: center;
    padding: 10px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 100px;
}

.auctionitem-list td {
    border-bottom: 1px solid #f0f0f0; /* 항목 사이에 연한 선 추가 */
    text-align: center;
    padding: 10px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 1000px;
}

.auctionitem-subheading th {
    border-bottom: 2px solid #c5c5c5;
    border-spacing: 0;
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    padding-bottom: 10px;

}


