/* 테이블 스타일 */
.favorites-table {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
}

/* 테이블 항목 스타일 */
.favo-list-index,
.favo-list-image,
.favo-list-deletebutton {
    text-align: center; /* 셀 내용 가로 중앙 정렬 */
    vertical-align: middle; /* 셀 내용 세로 중앙 정렬 */
    padding: 10px;
}

/* '즐겨찾기' 제목 */
.favorites-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* favo-list-link (링크가 포함된 열) 스타일 */
.favo-list-link {
    text-align: center; /* 텍스트 왼쪽 정렬 */
    padding: 10px;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 처리 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 '...'으로 표시 */
    width: 100%; /* favo-list-link 열을 70%로 설정하여 길게 만듦 */
}

/* Link 기본 스타일 제거 */
.favo-list-link a {
    color: inherit; /* 기본 보라색 제거 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 즐겨찾기 항목에 연한 회색 선 추가 */
.favorites-title-list-table tr {
    border-bottom: 1px solid #bdbcbc; /* 연한 회색 선 추가 */
}

/* 삭제 버튼 스타일 */
.delete-button {
    background-color: #454545; /* 배경색 */
    color: #ffffff; /* 글자색 */
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 이미지 스타일 */
.favorites-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

/* 호버 상태 스타일 */
.delete-button:hover {
    background-color: #333333; /* 배경색 변경 */
}
