/* 전체 컨테이너 스타일 */
.profile-container {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선을 하나로 합침 */
}

/* 타이틀 스타일 */
.profile-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 테이블 스타일 */
.profile-table {
    width: 100%; /* 테이블 너비 100%로 설정 */
    max-width: 1000px; /* 테이블의 최대 너비 설정 */
    margin: 0 auto; /* 테이블을 중앙에 정렬 */
    border-collapse: collapse; /* 테이블 셀 경계선 하나로 합침 */
}

/* 각 행 스타일 */
.profile-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #9c9c9c; /* 연한 회색 선 추가 */
}

/*.profile-row {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    white-space: nowrap; !* 텍스트가 한 줄로 표시되도록 설정 *!*/
/*    overflow: hidden; !* 넘치는 텍스트 숨김 처리 *!*/
/*    text-overflow: ellipsis; !* 텍스트가 넘치면 '...'으로 표시 *!*/
/*    width: 100px;*/
/*}*/

/* 마지막 행 아래쪽에 테두리 제거 */
.profile-row:last-child {
    border-bottom: none;
}

/* 라벨 스타일 (왼쪽) */
.profile-label {
    width: 30%; /* 라벨 너비 */
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #f9f9f9;
    border-right: 1px solid #9c9c9c; /* 오른쪽에 연한 회색 선 */
}

/* 값 스타일 (오른쪽) */
.profile-value {
    width: 70%; /* 값 열 너비 */
    text-align: left;
    padding: 10px;
}

/* 프로필 이미지 스타일 */
.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

/* input 태그 스타일 */
.profile-value input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
}

/* 읽기 전용 input 비활성화 스타일 */
.profile-value input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
}

.myprofileinfoing {
    text-align: center;
    padding-top: 20px;
}


.myprofile-edit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #454545;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 그림자와 크기 변화 */
}

.edit-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}