.edit-container{
    display: flex;
    flex-direction: column;  /* 수직으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: flex-start; /* 위에서부터 쌓이도록 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    max-width: 1200px;  /* 최대 너비 설정 */
    width: 1000px; /* 전체 폭 설정 */
    color: #222; /* 값 색상 */
}

.edit-container hr {
    border: none;
    border-top: 1px solid #343434;
    margin-bottom: 15px; /* 위아래 간격 조정 */
}

.img-delete-button{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #454545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn-box{
    display: flex;
    justify-content: space-between; /* 양 끝 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    width: 100%; /* 부모 요소의 전체 너비 사용 */
    margin-top: 20px; /* 상단 여백 */
}

.edit-btn_list{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #454545;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 그림자와 크기 변화 */
    margin-right: auto; /* 왼쪽으로 고정 */
}

.edit-btn_list:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

.edit-btn{
    display: flex;
    gap: 10px;
    margin-left: auto; /* 오른쪽으로 고정 */
}

.edit-btn_item{
    padding: 10px 20px;
    background-color: #454545;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 그림자와 크기 변화 */
    text-decoration: none;
}

.edit-btn_item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

