.find-address-button 
{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #343434;
    /* 버튼의 배경 색상 */
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 114px;
    height: 33px;
}

.find-address-button:hover 
{
    background-color: #000;
    /* 버튼에 마우스를 올렸을 때의 배경 색상 변경 */
}