.requestItem-container{
    display: flex;
    flex-direction: column;  /* 수직으로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: flex-start; /* 위에서부터 쌓이도록 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    max-width: 1200px;  /* 최대 너비 설정 */
    width: 1000px; /* 전체 폭 설정 */
    color: #222; /* 값 색상 */
}

.request-notice{
    padding-bottom: 10px;
}

.form-group{
    padding-top: 5px;
}

.request-image{
    display: flex;
    align-items: center; /* 수평 중앙 정렬 */
    gap: 10px;
}

.request-img-allDelete-button{
    padding: 10px;
    color: #454545;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 그림자와 크기 변화 */
    text-decoration: none;
}

.request-img-allDelete-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

.request-image-preview{
    margin-bottom: 50px;
}

.img-delete-button{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #454545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.request-submit{
    display: flex;
    margin: 0 auto; /* 가운데 정렬 */
    padding: 10px 20px;
    background-color: #454545;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 그림자와 크기 변화 */
}


.request-submit:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transform: translateY(-2px); /* 살짝 위로 이동 */
}

textarea
{
    resize: none;
}

#categoryCode {
    width: 218px; /* 원하는 너비로 조정 */
    height: 35.5px; /* 원하는 높이로 조정 */
    font-size: 16px; /* 글자 크기 */
    padding: 5px 10px; /* 내부 여백 */
}

/* DatePicker 스타일 */
.react-datepicker-wrapper {
    width: 200px; /* DatePicker의 너비 */
}

.react-datepicker__input-container input {
    width: 100%; /* 입력 필드가 wrapper의 전체 너비를 차지하도록 */
    height: 15px; /* 높이 조정 */
    font-size: 16px; /* 글자 크기 */
    padding: 5px 10px; /* 내부 여백 */
}

/* DatePicker 캘린더 팝업의 크기 조정 (선택사항) */
.react-datepicker {
    font-size: 1em; /* 전체적인 크기 조정 */
}

.react-datepicker__header {
    padding-top: 0.8em;
}

.react-datepicker__month {
    margin: 0.4em 1em;
}

.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}


