.sequence-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px; /* Increased space between steps */
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid #787878;
    border-radius: 20px;
    color: #333;
    background-color: white;
    box-sizing: border-box;
}

.current-step {
    background-color: #343434;
    color: white;
    border: 4px solid #343434;
}

.arrow-right {
    position: relative;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #787878;
    margin-left: -10px; /* Overlap slightly with steps */
    margin-right: -10px;
}
