<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User Code</th>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birth Date</th>
                <th>Address</th>
                <th>Cash</th>
                <th>Gender</th>
                <th>Is Adult</th>
                <th>Is Admin</th>
                <th>Nickname</th>
                <th>Is Suspended</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userCode}"></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.birthDate}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.cash}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.isAdult}"></td>
                <td th:text="${user.isAdmin}"></td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.isSuspended}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>